*
{
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}

.container
{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > section
{
    width: 80%;
}

header, .row-options-title
{
    text-align: center;
    padding: 2vh;
}

.column-instructions
{
    width: 40%;
}

.column-options
{
    width: 60%;
}


section#registers
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.row
{
    margin: 15px;
}

.rowResetAll
{
    text-align: center;
    padding: 5px 0;
}

.rowResetAll button
{
    margin: unset;
}

input[type="text"]
{
    padding: 10px 0;
    box-sizing: border-box;
    text-transform: uppercase;
    margin: 8px 0;
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
}

label
{
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
}

button
{
    background-color: #FFBD44;
    border: 2px solid #000;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    -webkit-box-shadow: -2px 2px 1px 0px rgb(66 68 90);
    -moz-box-shadow: -2px 2px 1px 0px rgb(66 68 90);
    box-shadow: -2px 2px 1px 0px rgb(66 68 90);
}

.resetBtn, .apply
{
    padding: 8px 16px;
    margin-left: 5px;
}

select
{
    padding: 8px 20px;
    margin: 8px 0;
    font-size: 18px;
    font-weight: 600;
}

#options
{
    display: flex;
    flex-direction: row;
}

.column-options div
{
    padding: 5px;
}

.row-options
{
    display: flex;
    flex-wrap: wrap;
}

.adressesOptions
{
    margin-top: 20px;
}

input[type="radio"] 
{
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: #000;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #000;
    border-radius: 50%;
    transform: translateY(0.2em);
    display: inline-grid;
    place-content: center;
}

input[type="radio"]::before 
{
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #000;
}

input[type="radio"]:checked::before 
{
    transform: scale(1);
}

.form-control + .form-control 
{
    margin-top: 1em;
}

option:disabled
{
    background-color: #efefef;
}

input:disabled
{
    background-color: #efefef;
}